<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/ideas">Ideas</a></li>
            <li><a style="color:red" href="/about">About</a></li>
        </ul>
    </div>

    <div class="heading">
        <h1>About</h1>
    </div>

    <div class="content">
        <p>We are an independant company based in Beachwood, Ohio. Our goal is to bring prosperity and life to our planet and prevent any catastophic disastors including but not limited to:</p>
    </div>

    <br>
    <ul style="margin-left: 35px">
        <li>Earthquakes</li>
        <li>Solar Flares</li>
        <li>Nuclear Wars</li>
        <li>[Redacted]</li>
        <li>Rise of the Persian Empire</li>
    </ul>
    
</body>
</html>