<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/ideas">Ideas</a></li>
            <li><a style="color:red" href="/about">About</a></li>
        </ul>
    </div>

    <div class="heading">
        <h1>About</h1>
    </div>

    <div class="content">
        <p>We are an independant company based on Mars. Our goal and mission of the 'Express Website' is to bring prosperity and life to our planet, this includes doing things like:</p>
    </div>

    <br>
    <ul style="margin-left: 35px; list-style-type: none">
        <li>Making boxes out of text</li>
        <li>_________</li>
        <li>|&nbsp;&nbsp;&nbsp;<span class="backslash"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="slash"></span>&nbsp;&nbsp;&nbsp;|</li>
        <li>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</li>
        <li>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</li>
        <li>|________|</li>
    </ul>
    
</body>
</html>